*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;

}

html, body{
    height: 100%;
    width: 100%;

}

body{
    background-color: #111;

}

h2{
    font-size: 50px;
}

button{
    padding: 10px 20px;
    color: #111;
    font-size: 30px ;
    font-weight: 500;
    background-color: salmon;
    border-radius: 10px;
    cursor: pointer;
}

#bulb{
    height: 200px;
    width: 200px;
    background-color: transparent;
    margin-top: 50px;
    border-radius: 50%;
}