* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  color: white;
  overflow: hidden;
}

main {
  height: 100%;
  width: 100%;
  text-wrap: nowrap;
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  padding: 10px 20px;
  background-color: rgb(0, 38, 108);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

button:active {
  scale: 0.95;
}