* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #000;
    color: #fff;
}

.main {
    max-width: 420px;
    margin: auto;
    padding: 20px 14px;
}


.elem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 6px;
}

.left {
    display: flex;
    align-items: center;
    gap: 12px;
}


.left img {
    height: 46px;
    width: 46px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #222;
}


.left h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
}

.right button,
.elem>button {
    background: #4150F7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    padding: 6px 10px;
}

button:hover {
    opacity: 0.8;
}


.elem:not(:last-child) {
    border-bottom: 1px solid #121212;
}