*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

html,body{
    height: 100%;
    width: 100%;

}

body{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    color: green;
    font-size: 50px;
    font-family: monospace;
    background-color: rgba(0, 246, 0, 0.119);

}

h3:hover{
    background-color: rgba(0, 246, 0, 0.119);
}